<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="kinematics_config" default="$(find ur_description)/config/ur3_default.yaml" doc="Kinematics config file used for calibration correction. This will be used to verify the robot's calibration is matching the robot_description."/>

  <arg name="model" default="$(find bob_description)/urdf/ur3_dual_eef.urdf.xacro" />
  <param name="robot_description" command="$(find xacro)/xacro $(arg model) limited:=$(arg limited)  kinematics_config:=$(arg kinematics_config)" />

</launch>
