<?xml version="1.0" ?>
<launch>
  
  <arg name="pipeline" default="ompl" />


  <include file="$(find bob_moveit_config)/launch/ur3_fts_tool_moveit.launch">
    <arg name="pipeline" value="$(arg pipeline)"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find bob_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find bob_moveit_config)/etc/ur3_fts_tool_moveit.rviz"/>
  </include>


</launch>
