<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="newport_vh3660_opt" params="prefix">


   <link name="${prefix}base_link">
    <inertial>
      <origin xyz="8.8005E-17 0.054826 -1.1587E-16" rpy="0 0 0" />
      <mass value="160.45" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bob_description/meshes/newport/visual/vh3660_opt.dae" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bob_description/meshes/newport/collision/vh3660_opt.stl" />
      </geometry>
    </collision>
  </link>

  <link name="${prefix}top_link" />
  
  <joint name="${prefix}top_joint" type="fixed">
    <origin xyz="0 0 0.1097661" rpy="0 0 0" />
    <parent link="${prefix}base_link" />
    <child link="${prefix}top_link" />
  </joint>

    </xacro:macro>
</robot>
